@import 'abstracts/variables';

@import 'base/typography';

@import 'themes/light';
@import 'themes/dark';

body {
  background-color: var(--bg-base);
  color: var(--text-primary);
  transition: all 0.3s ease;

  @include inter-font;
}
