@use 'abstracts/variables' as *;

@use 'base/typography' as *;

@use 'themes/light' as light;
@use 'themes/dark' as dark;

body {
  background-color: var(--bg-base);
  color: var(--text-primary);
  transition: all 0.3s ease;

  @include inter-font;
}
