:global {
  .ant-select-dropdown {
    min-width: 172px;

    box-shadow:
      0px 0.85px 0.85px 0px #0000000f,
      0px 1.71px 1.71px 0px #0000000f,
      0px 3.41px 3.41px 0px #0000000f,
      0px 6.82px 6.82px 0px #0000000f,
      0px 13.64px 13.64px 0px #00000005,
      0px -3.41px 13.64px 0px #00000005,
      0px -0.85px 0px 0px #0000000d,
      0px 0px 0px 1px #0000000f;
  }

  .ant-select-selector {
    border-radius: 18px !important;

    &:hover {
      background-color: var(--control-hover) !important;
    }
  }

  .ant-select-item {
    padding: 9px 26px !important;
  }

  .ant-select-selection-placeholder,
  .ant-select-selection-item {
    color: var(--text-primary) !important;
  }

  .ant-select-item-option-selected {
    font-weight: normal !important;
    gap: 8px;
  }

  .ant-select-item-option-state {
    margin-left: -20px !important;

    svg path {
      stroke: var(--text-primary);
    }
  }

  .ant-select-dropdown .ant-select-item-option {
    flex-direction: row-reverse;
  }
}

.select {
  color: var(--text-primary) !important;

  &_active {
    color: var(--text-inverted) !important;
    :global {
      .ant-select-selector {
        background-color: var(--accent) !important;
      }

      .ant-select-selection-item {
        color: var(--text-inverted) !important;
      }

      .ant-select-arrow svg path {
        stroke: var(--text-inverted);
      }
    }
  }
}

.arrow {
  transition: transform 0.3s ease;
}

.arrowOpen {
  transform: rotate(180deg);
}
