$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large-desktop: 1240px;

:root {
  --footer-background: #111111;
  --footer-text-primary: #ffffff;
  --footer-rigths-border-color: #ffffff1a;
}
