.favorite {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  width: 32px;
  height: 32px;
  border-radius: 50%;

  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.06),
    0px 2px 2px rgba(0, 0, 0, 0.06),
    0px 3px 3px rgba(0, 0, 0, 0.06);
}

.ghost {
  box-shadow: none;
}
