.button {
  display: flex;
  align-items: center;

  background-color: var(--control);
  color: var(--text-primary);
  border-radius: 10px;
  box-shadow: none;

  height: 48px;
  width: 100%;

  padding: 15px 54px;

  &:hover {
    background-color: var(--control-hover) !important;
    color: var(--text-primary) !important;
  }

  :global {
    .ant-btn-icon {
      display: flex;
    }
  }
}
