[data-theme='dark'] {
  /* Text */
  --text-primary: #ffffff;
  --text-secondary: #b3b3b3;
  --text-tertiary: #7a7a7a;
  --text-inverted: #000000;

  /* Background */
  --bg-base: #000000;
  --bg-primary: #111111;
  --card-border: #1e1e1e;
  --stroke-field-default: #2a2a2a;

  /* State */
  --accent: #1677ff;
  --accent-hover: #125ec9;
  --control: #2a2a2a;
  --control-hover: #333333;
}
