[data-theme='dark'] {
  /* Text */
  --text-primary: #ffffff;
  --text-secondary: #999999;
  --text-tertiary: #999999;
  --text-inverted: #ffffff;

  /* Background */
  --bg-base: #151515;
  --card-border: #333333;
  --card-image-background: #3d3d3d;
  --stroke-field-default: #333333;

  /* State */
  --accent: #0084ff;
  --accent-hover: #007aec;
  --control: #282c2d;
  --control-hover: #3d4344;
}
