:root {
  /* Text */
  --text-primary: #333333;
  --text-secondary: #666666;
  --text-tertiary: #999999;
  --text-inverted: #ffffff;

  /* Background */
  --bg-base: #ffffff;
  --bg-primary: #f3f3f3;
  --card-border: #ededed;
  --stroke-field-default: #dddddd;

  /* State */
  --accent: #0084ff;
  --accent-hover: #007aec;
  --control: #f3f9fb;
  --control-hover: #e8f4f8;
}
