.card {
  position: relative;
  height: 328px;
  border-radius: 16px;
  background: var(--bg-base);
  border: 1px solid var(--card-border);

  &_favorite {
    position: absolute;
    top: 14px;
    right: 14px;
    cursor: pointer;
  }

  &_image {
    height: 188px;
    background-color: var(--card-image-background);
    border-radius: 16px 16px 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  &_info__wrapper {
    padding: 12px;
  }

  &_info {
    border-bottom: 1px solid var(--card-border);

    .title {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 4px;
    }

    .info {
      display: flex;
      font-size: 14px;
      color: var(--text-secondary);
      margin-bottom: 8px;
      gap: 12px;

      & > *:first-child {
        position: relative;
      }

      & > *:first-child::after {
        content: '';
        position: absolute;
        right: -7px;
        top: 50%;
        transform: translateY(-50%);
        width: 3px;
        height: 3px;
        background-color: var(--text-secondary);
        border-radius: 50%;
        z-index: 1;
      }
    }

    .rating {
      display: flex;
      font-size: 14px;
      gap: 2px;
      align-items: center;
      margin-bottom: 12px;
    }
  }

  &_button {
    display: inline-block;
    cursor: pointer;
    color: var(--accent);
    padding-top: 12px;

    &:hover {
      color: var(--accent-hover);
    }
  }
}
