@use '../../app/styles/abstracts/mixins' as *;

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  display: grid;
  grid-template-rows: min-content min-content min-content;
  // min-height: 100dvh;

  @include responsive(large-desktop) {
    padding: 0 16px;
  }
}
