@use '../../app/styles/abstracts/mixins' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px 16px;

  @include responsive(large-desktop) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include responsive(desktop) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include responsive(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include responsive(mobile) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.empty_card_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;

  margin: 0 auto;

  max-width: 230px;

  svg path {
    color: var(--control-hover);
  }

  button {
    margin-top: 12px;
    width: fit-content;
  }
}
