@use '../../app/styles/abstracts/mixins' as *;

.tabs {
  font-size: inherit !important;
  line-height: inherit !important;

  :global {
    .ant-tabs-tab {
      font-size: 25px;
      font-weight: bold;

      @include responsive(mobile) {
        font-size: 20px;
      }
    }
    .ant-tabs-tab-active {
      .ant-tabs-tab-btn {
        color: var(--text-primary) !important;
      }
    }

    .ant-tabs-tab-btn {
      color: var(--text-secondary);
    }

    .ant-tabs-nav {
      margin-bottom: 32px;
    }
  }
}
